@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 30px;
}
