/* COLORS */
$primary-color: #1d2437;
$secondary-color: #f49900;
$gray-color: #ebeef5;

/* FONTS */
@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}