/* COLORS */
$primary-color: #1d2437;
$secondary-color: #f49900;
$gray-color: #ebeef5;
$error-color: #dc3545;
$success-color: #26823B;
$info-color: #147E8F;
$warning-color: #ffc107;

/* FONTS */
@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}