@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

form {
  margin-bottom: 2rem;
}

input {
  height: 33.59px;
}

input:not([type="file"]), textarea {
  background: $darker-gray-color;
}

.description {
  margin-bottom: 1rem;
}

textarea {
  padding: .5rem;
  height: 135px;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

input[type="file"] {
  display: none;
}

.select-brand {
  margin-bottom: 1rem;
  & > button {
    margin-left: .5rem;
    color: #fff;
    background: lighten($primary-color, 10%);
  }
}

.projects-services-wrapper {
  @include flex(row, space-between, flex-start);
}

.services, .projects {
  width: 50%;
}

.services > .add-service-wrapper, .projects > .add-project-wrapper {
  @include flex(column, flex-start, flex-start);
  margin-bottom: 1rem;
  .title {
    margin-bottom: .5rem;
  }
  button {
    @include flex(row, center, center);
    height: 33.58px;
    padding: 0;
    color: $primary-color;
    background: $secondary-color;
    border-radius: 0;
  }
}

.add-project, .add-service {
  @include flex(row, flex-start, center);
  width: 100%;
  input {
    width: 100%;
  }
}

.services {
  margin-left: 1rem;
}

.primary-btn {
  margin-left: .5rem;
}
