@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

form {
  margin-bottom: 2rem;
}

.controls-wrapper:nth-child(2) {
  align-items: flex-end;
}

.select-role select,
.select-projects select {
  color: $primary-color;
  background: $darker-gray-color;
}

.select-projects select option {
  padding: .5rem;
  &[disabled] {
    font-weight: bold;
    color: $primary-color;
    background: $secondary-color;
  }
  &:not([disabled]) {
    color: $secondary-color;
    background: $primary-color;
  }
}

.select-projects-info {
  @include flex(row, flex-start, center);
  margin-top: 1rem;
  kbd {
    padding: .2rem;
    color: #fff;
    background: lighten($primary-color, 5%);
    border-radius: 4px;
  }
  span:last-of-type {
    margin-left: .3rem;
  }
}

.primary-btn {
  margin-left: .5rem;
}
