<header>
    <div tooltip="Expand/Minimize Menu" placement="right">
        <span class="material-icons open-menu" [nav-expanded]="isExpanded" [nav]="nav" (click)="isNavExpandedHandler.emit(nav.isExpanded)">menu_open</span>
    </div>
    <div class="company-info">
        <div class="company-name">
            <h1>Software Company Management System</h1>
            <div tooltip="Edit Company Name" placement="right">
                <span class="material-icons">edit</span>
            </div>
        </div>
        <div class="company-brand" tooltip="Edit Company Logo" placement="left">
            <span class="material-icons">add_business</span>
        </div>
    </div>
    <app-navigation #nav></app-navigation>
</header>
