@import 'src/assets/scss/mixins';
@import 'src/assets/scss/variables';

div {
  @include flex(row, space-between, center);
  margin-bottom: 2rem;
  span {
    font-weight: bold;
    color: $primary-color;
  }
}

.employee-wrapper {
  height: 630px;
  overflow-y: auto;
  &.grid {
    @include grid(3);
  }
  &.list {
    @include flex(column, flex-start, flex-start);
  }
}
