<div class="auth-page">
    <h2>CREATE YOUR ACCOUNT</h2>
    <form>
        <div class="form-control-wrapper">
            <select aria-label="Select role">
                <option selected disabled>Choose your role</option>
                <option value="company-owner">Company owner</option>
                <option value="manager">Manager</option>
                <option value="developer">Developer</option>
            </select>
            <!-- <small class="error">Role is required</small> -->
        </div>
        <div class="form-control-wrapper">
            <div class="form-control">
                <span class="material-icons">person</span>
                <input type="text" placeholder="First name" aria-label="Enter first name">
            </div>
            <!-- <small class="error">First name is required</small> -->
        </div>
        <div class="form-control-wrapper">
            <div class="form-control">
                <span class="material-icons">person</span>
                <input type="text" placeholder="Last name" aria-label="Enter last name">
            </div>
            <!-- <small class="error">Last name is required</small> -->
        </div>
        <div class="form-control-wrapper">
            <div class="form-control">
                <span class="material-icons">email</span>
                <input type="email" placeholder="Email" aria-label="Enter email">
            </div>
            <!-- <small class="error">Email is required</small>
            <small class="error">Not valid email</small> -->
        </div>
        <div class="form-control-wrapper">
            <div class="form-control">
                <span class="material-icons">lock</span>
                <input type="password" placeholder="Password" aria-label="Enter password">
            </div>
            <!-- <small class="error">Password is required</small>
            <small class="error">Password must be at least 12 characters</small> -->
        </div>
        <div class="form-control-wrapper">
            <div class="form-control">
                <span class="material-icons">lock</span>
                <input type="password" placeholder="Confirm password" aria-label="Confirm password">
            </div>
            <!-- <small class="error">Password is required</small>
            <small class="error">Password must be at least 12 characters</small> -->
        </div>
    </form>
    <button class="primary-btn">Sign Up</button>
</div>