<div class="auth-page">
    <h2>SIGN UP</h2>
    <form>
        <select aria-label="Select role">
            <option selected disabled>Choose your role</option>
            <option value="company-owner">Company owner</option>
            <option value="manager">Manager</option>
            <option value="developer">Developer</option>
          </select>
        <div class="form-control">
            <span class="material-icons">person</span>
            <input type="text" placeholder="First name" aria-label="Enter first name">
        </div>
        <div class="form-control">
            <span class="material-icons">person</span>
            <input type="text" placeholder="Last name" aria-label="Enter last name">
        </div>
        <div class="form-control">
            <span class="material-icons">email</span>
            <input type="email" placeholder="Email" aria-label="Enter email">
        </div>
        <div class="form-control">
            <span class="material-icons">lock</span>
            <input type="password" placeholder="Password" aria-label="Enter password">
        </div>
        <div class="form-control">
            <span class="material-icons">lock</span>
            <input type="password" placeholder="Confirm password" aria-label="Confirm password">
        </div>
    </form>
    <button class="primary-btn">Sign Up</button>
</div>