<nav [ngClass]="!isExpanded ? '' : 'expand-nav'">
    <ul>
        <!-- ADMIN LINKS -->
        <li>
            <a routerLink="company" routerLinkActive="active" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">business</span>
                <span *ngIf="isExpanded" @fadeIn>Company</span>
            </a>
        </li>
        <li>
            <a routerLink="employees" routerLinkActive="active" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">people</span>
                <span *ngIf="isExpanded" @fadeIn>Employees</span>
            </a>
        </li>
        <!-- END OF ADMIN LINKS -->

        <!-- MANAGER AND DEVELOPER LINKS -->
        <li>
            <a routerLinkActive="active" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">task</span>
                <span *ngIf="isExpanded" @fadeIn>Tasks</span>
            </a>
        </li>
        <!-- END OF MANAGER AND DEVELOPER LINKS -->
    </ul>
    <ul>
        <li class="profile" (click)="isProfileOptionsSectionOpen = !isProfileOptionsSectionOpen">
            <span [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">account_circle</span>
                <span *ngIf="isExpanded" @fadeIn>Profile</span>
            </span>

            <div *ngIf="isProfileOptionsSectionOpen" [ngStyle]="{ 'left': !isExpanded ? '72px' : '149px' }" @fadeIn @fadeOut>
                <a><span class="material-icons">settings</span><span>User Profile</span></a>
                <span class="change-password"><span class="material-icons">lock</span><span>Change Password</span></span>
                <span class="logout"><span class="material-icons">power_settings_new</span><span>Log Out</span></span>
            </div>
        </li>
    </ul>
</nav>
