<div class="auth-page">
    <h2>LOG IN TO YOUR ACCOUNT</h2>
    <form>
        <div class="auth-form-control-wrapper">
            <div class="auth-form-control">
                <span class="material-icons">email</span>
                <input type="email" placeholder="Email" aria-label="Enter email">
            </div>
            <!-- <small class="error">Email is required</small> -->
            <!-- <small class="error">Not valid email</small> -->
        </div>
        <div class="auth-form-control-wrapper">
            <div class="auth-form-control">
                <span class="material-icons">lock</span>
                <input type="password" placeholder="Password" aria-label="Enter password">
            </div>
            <!-- <small class="error">Password is required</small> -->
            <!-- <small class="error">Password must be at least 12 characters</small> -->
        </div>
    </form>
    <div class="more-actions">
        <a routerLink="/auth/signup">Forgot Password?</a>
        <a role="button">Don't have an account?</a>
    </div>
    <button class="primary-btn">Log In</button>
</div>
