@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

:host {
  width: 100%;
}

article {
  @include flex(row, flex-start, flex-start);
  padding: .5rem;
  background: $darker-gray-color;
  border-radius: 10px;
  &.grid {
    @include grid(3);
  }
  &.list {
    @include flex(column, flex-start, flex-start);
  }
}

.employee-image {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &:hover::after {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    left: 0;
    content: 'Change Image';
    text-align: center;
    width: 100%;
    height: 100%;
    color: $secondary-color;
    background: rgba(0, 0, 0, .7);
  }
}

.employee-info {
  padding-left: 1rem;
  h3 {
    margin-bottom: .2rem;
  }
  h4 {
    font-size: .8rem;
    font-style: italic;
  }
}

.employee-actions {
  margin-top: .8rem;
}

button {
  padding: 0;
  background: transparent;
  &:not(:first-of-type) {
    margin-left: .5rem;
  }
}

.assignment {
  color: $primary-color;
}

.edit {
  color: $info-color;
}

.delete {
  color: $error-color;
}
