@import 'material-icons/iconfont/material-icons.css';
@import 'src/assets/scss/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

html > * {
    font-family: RobotoRegular;
}

h1, h2, h3 {
    font-family: RobotoBold;
}