@import 'material-icons/iconfont/material-icons.css';
@import 'src/assets/scss/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

html > * {
    font-family: RobotoRegular;
}

h1, h2, h3 {
    font-family: RobotoBold;
}

li {
    list-style-type: none;
}

// GLOBAL CLASSES
.tooltip {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    color: $primary-color;
    background: $secondary-color;
    border-radius: 4px;
    z-index: 5;
    &.top {
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &.right {
        left: 80px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &.bottom {
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &.left {
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
    }
}