<nav [ngClass]="!isExpanded ? '' : 'expand-nav'">
    <ul>
        <!-- ADMIN LINKS -->
        <li>
            <a routerLink="company" routerLinkActive="active" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">business</span>
                <span *ngIf="isExpanded">Company</span>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">people</span>
                <span *ngIf="isExpanded">Employees</span>
            </a>
        </li>
        <!-- END OF ADMIN LINKS -->

        <!-- MANAGER AND DEVELOPER LINKS -->
        <li>
            <a routerLinkActive="active" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">task</span>
                <span *ngIf="isExpanded">Tasks</span>
            </a>
        </li>
        <!-- END OF MANAGER AND DEVELOPER LINKS -->
    </ul>
    <ul>
        <li class="profile" (click)="isProfileOptionsSectionOpen = !isProfileOptionsSectionOpen" [ngClass]="{ 'open': isProfileOptionsSectionOpen }">
            <span class="profile" [ngStyle]="{ 'margin': isExpanded ? '0 auto 0 0' : 'auto' }">
                <span class="material-icons" [ngStyle]="{ 'margin-right': isExpanded ? '.5rem' : '0' }">account_circle</span>
                <span *ngIf="isExpanded">Profile</span>
            </span>

            <div *ngIf="isProfileOptionsSectionOpen" [ngStyle]="{ 'left': !isExpanded ? '80px' : '160px' }">
                <a>Edit Profile</a>
                <span>Log Out</span>
            </div>
        </li>
    </ul>
</nav>
